@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Slate-300: hsl(212, 45%, 89%);
    --Slate-500: hsl(216, 15%, 48%);
    --Slate-900: hsl(218, 44%, 22%);
}

body {
    font-family: 'outfit', sans-serif;
    background-color: var(--Slate-300);
    min-height: 100vh;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

h1 {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 15px;
}

p {
    font-size: 15px;
    font-weight: 400;
}

.card {
    height: 460px;
    width: 305px;
    background: var(--White);
    border-radius: 20px;
    padding: 1rem;
}

.qr-code {
    height: 275px;
    background: url("./images/image-qr-code.png") center / cover no-repeat;
    border-radius: 10px;
}

.card-info {
    padding: 1rem;

}